{% extends 'base.html.twig' %}

{% block title %} Accueil - CRUDcroustillant {% endblock %}

{% block content %}
<h1 class="text-2xl font-bold text-center"> Bienvenue sur CRUDcroustillant ! </h1>
{% endblock %}
